$Main-Red: #cc1818;
$Main-Blue: #185392;
$Main-DarkGray: #333333;


.stars{
	color:grey;
	&:hover{
		color: black;
	}
}

.stars{
	color:grey;
	&:hover{
		color: #ffcc00;
	}
}

.themeAgent{
	background-color: #f2f2f2;
	color: $Main-DarkGray;
	padding: 10px;
}

.agentDetails{
	box-sizing: border-box;
	padding: 5px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,bce7ff+49,ffffff+100&0+0,1+49,0+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(188,231,255,1) 49%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(188,231,255,1) 49%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(188,231,255,1) 49%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

.contactInfo{
	color: grey;
	&:hover{
		color: white;
	}
}

.rating{
	color: #ffd600;
	text-shadow: 0px 0px 5px lightyellow;
	padding: 20px;
	background-color: $Main-DarkGray;
	width: auto;
	border-radius: 10px;
}

.agentPicture{
	width: 40%;
	height: auto;
	border-radius: 100%;
	padding: 20px;
	box-shadow: 2px 2px 5px darkgray;
}

.bioBox{
	background-color: #e4e4e4;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 20px;
}

.picBox{
	padding: 20px;
}

.agentComment{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

	border-radius: 10px;
	color: $Main-DarkGray;
	padding: 10px;
	margin: 10px;
	box-shadow: 5px 5px 10px black;
	position: relative;
	font-family: sans-serif;
	&:hover{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+50,b8e2f6+51,b6dffd+100;Shape+2+Style */
background: rgb(224,243,250); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */

	}
}

.commentContainer{
	border: 2px solid #d6d6d6;
	max-height: 400px;
	overflow: scroll;
	padding: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.addCommentContainer{
	background-color: #d5d5d5;
	color: $Main-DarkGray;
	padding: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}




.selectButtonContainer button{
	margin:10px;
}

.commentDate{
	position: absolute;
	right: 0;
	margin-right:5px;
	text-align: right;
	font-size: 9px;
	color: $Main-Blue;
}

.commentAuthorBox img{
	width: 90%;
	border-radius: 100%;

}

.commentAuthorBox{
	color:#323232;
	font-size: 9px;
}


.myAgentBox{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
background: rgb(109,179,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
	color: white;
	text-align: center;
	border-radius: 20px;
	box-shadow: 4px 4px 5px grey;
	padding:20px;


}


