$Main-Red: #cc1818;
$Main-Blue: #185392;
$Main-DarkGray: #333333;

.themeButton{
	background-color: rgba(0,0,0,.5);
	color: white;
	border: 2px solid white;
	text-decoration: none;
	&:hover{
		background-color: rgba(0,0,0,.8);
		color: white;
		border: 2px solid white;
		text-decoration: none;	
	}
}

.themeAgent{
	background-color: #f2f2f2;
	color: $Main-DarkGray;
}

.agentDetails{
	padding: 5px;
}

.agentDetails img{
	width: 100%;
}

.agentComment{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+50,b8e2f6+51,b6dffd+100;Shape+2+Style */
	background: rgb(224,243,250); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	color: $Main-DarkGray;
	padding: 10px;
	margin: 10px;
	box-shadow: 5px 5px 10px $Main-Blue;

}