$Main-Red: #cc1818;
$Main-Blue: #185392;
$Main-DarkGray: #333333;

.themeButton{
	background-color: rgba(0,0,0,.5);
	color: white;
	border: 2px solid white;
	text-decoration: none;
	&:hover{
		background-color: rgba(0,0,0,.8);
		color: white;
		border: 2px solid white;
		text-decoration: none;	
	}
}

.themeAgent{
	background-color: #f2f2f2;
	color: $Main-DarkGray;
}