$Main-Red: #cc1818;
$Main-Blue: #185392;
$Main-DarkGray: #333333;

/* label color */
.input-field label {
 color: $Main-Red;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: $Main-Red;
}

.input-field input[type=password]:focus + label {
 color: $Main-Red;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid $Main-Red;
 box-shadow: 0 1px 0 0 $Main-Red;
}

/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid $Main-Red;
 box-shadow: 0 1px 0 0 $Main-Red;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid $Main-Red;
 box-shadow: 0 1px 0 0 $Main-Red;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid $Main-Red;
 box-shadow: 0 1px 0 0 $Main-Red;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: $Main-Red;
}

.editProfileInfoBox{
	box-sizing: border-box;
	padding: 5px;
	background-color: #f2f2f2;
	
}


.defaultBox{
	background-color: #f2f2f2;
	color: $Main-DarkGray;
	height: 500px;
}

.defaultBox img{
	width: 100%;
	border-radius: 5px;
}

.photo{
	border-radius: 100%;
	padding: 10px;
	box-shadow: 2px 2px 5px $Main-DarkGray;
}

.sidebar{
	background-color: #f2f2f2;
border-radius: 4px;
}

.payments{
	background-color: #f2f2f2;
	color: &Main-DarkGray;
}

.agents{
	background-color: #f2f2f2;
	color: &Main-DarkGray;
}

.collection{
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
}


.collection-item{
	color:$Main-DarkGray;
	border-radius: 20px;
	margin: 5px;
	&:hover{
	background-color: #d6d6d6;
	}
}

.collection-item a{
	color:$Main-DarkGray;
}

.uploadButton{
	padding: 8px;
	color:$Main-DarkGray;
	background-color: transparent;
	border-radius: 20px;
	border: 2px solid $Main-DarkGray;
	font-size: 12px;
	&:hover{
		color:$Main-Red;
		border: 2px solid $Main-Red;
		background-color: transparent;
	}
	&:focus{
		color:$Main-Red;
		border: 2px solid $Main-Red;
		background-color: transparent;
	}
}


