$Main-Red: #cc1818;
$Main-Blue: #185392;
$Main-DarkGray: #333333;

/* label color */
.input-field label {
 color: $Main-Red;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: $Main-Red;
}

.input-field input[type=password]:focus + label {
 color: $Main-Red;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid $Main-Red;
 box-shadow: 0 1px 0 0 $Main-Red;
}

/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid $Main-Red;
 box-shadow: 0 1px 0 0 $Main-Red;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid $Main-Red;
 box-shadow: 0 1px 0 0 $Main-Red;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid $Main-Red;
 box-shadow: 0 1px 0 0 $Main-Red;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: $Main-Red;
}

.editProfileInfoBox{
	box-sizing: border-box;
	padding: 5px;
	background-color: #f2f2f2;
	
}

.themeButton{
	background-color: rgba(0,0,0,.5);
	color: white;
	border: 2px solid white;
	text-decoration: none;
	&:hover{
		background-color: rgba(0,0,0,.8);
		color: white;
		border: 2px solid white;
		text-decoration: none;	
	}
}

.defaultBox{
	background-color: #f2f2f2;
	color: $Main-DarkGray;
	height: 500px;
}

.defaultBox img{
	width: 100%;
	border-radius: 5px;
}

.photo{
	border-radius: 100%;
	padding: 10px;
	box-shadow: 2px 2px 5px $Main-DarkGray;
	&:hover{
		box-shadow: 1px 1px 2px $Main-DarkGray;
	}
}

.sidebar{
	background-color: #f2f2f2;
border-radius: 4px;
}

.payments{
	background-color: #f2f2f2;
	color: &Main-DarkGray;
}

.agents{
	background-color: #f2f2f2;
	color: &Main-DarkGray;
}

.collection{
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
}


.collection-item{
	color:$Main-DarkGray;
	border-radius: 10px;
	margin: 5px;
	&:hover{
	background-color: #d6d6d6;
	}
}

.collection-item a{
	color:$Main-DarkGray;
}

#logoutCollection{
	color: #f2f2f2;
	border-radius: 5px;
	margin: 2px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
color: white;
	&:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

	}

}

