$Main-Red: #cc1818;
$Main-Blue: #185392;
$Main-DarkGray: #333333;

.t{
	color: $Main-Blue;
	font-weight: bold;
}

.u{
	color: $Main-Red;
	font-weight: bold;

}



#profilePhoto {
	margin-top: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: $Main-Red 2px solid;
  &:hover{
  	border: white 2px solid;
  	background-color: transparent;
  }
}

nav{
	background-color: $Main-DarkGray;
}

.themeButton{
	background-color: rgba(0,0,0,.2);
	color: white;
	border: 1px solid white;
	text-decoration: none;
	border-radius: 20px;
	&:hover{
		background-color: rgba(0,0,0,.3);
		color: white;
		border: 1px solid white;
		text-decoration: none;	
	}

}


.logoutButton{
	background-color: rgba(206,13,13,.5);
	color: white;
	border: 2px solid white;
	text-decoration: none;
	border-radius: 20px;
	&:hover{
	background-color: rgba(206,13,13,.8);
	color: white;
	border: 2px solid red;
	text-decoration: none;	
	}

}
/*header align with main container*/
nav ul a.btn {
	margin-right: 0;
}
/*capitalize first word of each letter*/
#userName {
	text-transform: capitalize;
}



