$Main-Red: #cc1818;
$Main-Blue: #185392;
$Main-DarkGray: #333333;

h5{
	color: $Main-Blue;
}


.themeContainer{
	background-color: #f2f2f2;
	padding: 30px;
}

.buttonContainer{
	width: 50%;
}

.loginButton{
	padding: 10px;
}


.whiteBackground{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.transparentWhiteOutline{
	font-family: sans-serif;
	background-color: rgba(0,0,0,.1);
	border: 2px solid white;
	&:hover{
		background-color: rgba(0,0,0,.2);
	}
}

//colors
$black: rgba(0, 0, 0, 0.2);
$white: #fff;
$color_facebook: #2a69aa;
$color_facebook_light: #4c70ba;
$color_google: #dd4b39;
$color_google_light: #e47365;
$color_twitter: #55acee;
$color_twitter_light: #83c3f3;

.btn {
	&.social {
		padding: 0 2rem 0 0;
		i {
			padding: 0 1rem;
			margin-right: 1rem;
		}
		> :first-child {
			border-right: 1px solid $black;
		}
	}
	&.social-icon {
		padding: 0;
		i {
			padding: 0 1rem;
			margin-right: 0;
		}
	}
}
.btn-large {
	&.social {
		padding: 0 2rem 0 0;
		i {
			padding: 0 1rem;
			margin-right: 1rem;
		}
		> :first-child {
			border-right: 1px solid $black;
		}
	}
	&.social-icon {
		padding: 0;
		padding: 0 1rem;
		i {
			padding: 0 1rem;
			margin-right: 0;
		}
	}
}
.col {
	&.social {
		padding: 0 2rem 0 0;
		width: 100%;
		text-align: left;
		i {
			padding: 0 1rem;
			margin-right: 1rem;
			&.fa-fw {
				width: 3.2rem;
			}
		}
		> :first-child {
			border-right: 1px solid $black;
		}
	}
	&.social-icon {
		padding: 0;
		i {
			padding: 0 1rem;
			margin-right: 0;
		}
	}
}

.facebook {
	background-color: $color_facebook;
	color: $white !important;
	i {
		color: $white !important;
	}
	&:hover {
		background-color: $color_facebook_light !important;
	}
}

.google {
	background-color: $color_google;
	color: $white !important;
	i {
		color: $white !important;
	}
	&:hover {
		background-color: $color_google_light !important;
	}
}
.twitter {
	background-color: $color_twitter;
	color: $white !important;
	i {
		color: $white !important;
	}
	&:hover {
		background-color: $color_twitter_light !important;
	}
}

.fa {
	&.fa-twitter,
	&.fa-facebook,
	&.fa-google {
		width: 48px
	}
}
/*Handle validate css for input fields*/
.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field input[type=password].valid
 {
	border-bottom: 1px solid #4caf50  !important;
    box-shadow: 0 1px 0 0 #4caf50  !important;
      width: 100%;
      border: 0;
      padding: 0 0 0 25px;
      background: #eee;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 0 10px;
    -webkit-transition: all opacity 2s ease-in;
    -moz-transition: all opacity 2s ease-in;
    -o-transition: all opacity 2s ease-in;
    -ms-transition: all opacity 2s ease-in;
    transition: all opacity 2s ease-in;
}