.flexParent{
    
    display: flex;
    flex-wrap: wrap;
}

.flexChild{ 
    align-items: center;
    flex: 1;
    flex-basis: 20%;
    margin: 20px;
    justify-content: space-between;
    box-shadow: 6px 6px 10px black;
    &:hover{
        box-shadow: 0px 0px 10px white;
    }

}

.whiteBack {
    background-color: #f2f2f2;
    padding:40px;
    margin: 20px;
    border-radius: 20px;
}