.themeButton{
	background-color: rgba(0,0,0,.5);
	color: white;
	border: 2px solid white;
	text-decoration: none;
}


.themeButton:hover{
	background-color: rgba(0,0,0,.8);
	color: white;
	border: 2px solid white;
	text-decoration: none;	
}

$Main-Red: #cc1818;
$Main-Blue: #185392;
$Main-DarkGray: #333333;